$blue: #5680E9;
$background-blue: #F6F8FE;
$primary-gray: #8D99AE;
$secondary-gray: rgba(237, 242, 244, 0.40);
$black-blue: #2B2D42;
$red: #EF233C;


$header-height: 52px;

$box-shadow: 0px 0px 10px 0px rgba(141, 153, 174, 0.20);
$box-shadow-form: 0px 0px 40px 0px rgba(141, 153, 174, 0.05);

$border: 1px solid rgba(141, 153, 174, 0.40);

$m08: 6px;
$m1: 8px;
$m2: 16px;
$m3: 24px;
$m4: 32px;
$m5: 40px;
$m6: 48px;
$m10: 80px;

